<h2><%= @dwight.name %></h2>
<img id="team-photo" class="flip-in-ver-right" src=<%= @dwight.photo %>>
<h4><%= @dwight.position %></h4>
<h4><%= @dwight.description %></h4>
<h4><%= @dwight.joke %></h4>
