<h2><%= @michael.name %></h2>
<img id="team-photo" class="flip-in-ver-right" src=<%= @michael.photo %>>
<h4><%= @michael.position %></h4>
<h4><%= @michael.description %></h4>
<h4><%= @michael.joke %></h4>
